/ Show list of all tasks	
.container
	#tasks_list= render partial: 'tasks'
	.row
		.col-md-3.col-md-offset-5
			#add.btn.btn-primary
				Add a new task

/Modal to add or edit task
.modal
	.container
		.row
			.col-md-6
				%div.panel.panel-default
					#task_form= render partial: 'form'


/ / Add a new task
/ .container
/ 	.row
/ 		#task_form= render partial: 'form'


	

/ / .container
/ 	.row
/ 		.col-md-3.col-md-offset-5
/ 			#add.btn.btn-primary
/ 				Add a new task

/ .modal
/ 	.container
/ 		.row
/ 			.col-md-6
/ 				%div.panel.panel-default
/ 					#tasks-list= render partial: 'form'

/ .edit-task
/ 	.container
/ 		.row
/ 			.col-md-6
/ 				%div.panel.panel-default
/ 					= form_for @tasks.each do |t|
/ 						- if t.urgency == true && t.importance == true
/ 							= link_to "x", tasks_path, method: :get, id: 'closer'
/ 							= t.label :name
/ 							= t.text_field :name
/ 							%br
/ 							= t.label :description
/ 							= t.text_area :description
/ 							%br
/ 							= t.label :do_by_datetime
/ 							= t.datetime_select :do_by_datetime
/ 							%br
/ 							= t.label "Urgent?"
/ 							= t.select :urgency, [['Yes', true], ['No', false]]
/ 							%br
/ 							= t.label "Important?"
/ 							= t.select :importance, [['Yes', true], ['No', false]]
/ 							%br
/ 							= t.submit "Edit Task", class: "btn btn-primary"

/ %input#datetimepicker{type: "text"}