/ .container
/ 	.row
/ 		.col-md-6
/ 			%div.panel.panel-default
/ 				.panel-heading
/ 					%h3.panel-title
/ 						Urgent; Important
/ 				.panel-body
/ 					= render :partial => 'tasks'
/ 		.col-md-6
/ 			%div.panel.panel-default
/ 				.panel-heading
/ 					%h3.panel-title
/ 						Not Urgent; Important
/ 				.panel-body
/ 					%table.table.table-bordered.table-striped.table-hover
/ 						.thead
/ 							%tr
/ 								%th Task name
/ 								%th Task description
/ 								%th Task due date
/ 								%th Task due time
/ 						.tbody
/ 							- @tasks.each do |t|
/ 								- if t.urgency == false && t.importance == true
/ 									%tr
/ 										%td= t.name
/ 										%td= t.description
/ 										%td= t.do_by_datetime.strftime("%b %d, %Y")
/ 										%td= t.do_by_datetime.strftime("%l:%M %P")
/ 										%td= link_to "Edit", edit_task_path(t), method: :get
/ 										%td= link_to "Delete", t, method: :delete

/ 	.row
/ 		.col-md-6
/ 			%div.panel.panel-default
/ 				.panel-heading
/ 					%h3.panel-title
/ 						Urgent; Not Important
/ 				.panel-body
/ 					%table.table.table-bordered.table-striped.table-hover
/ 						.thead
/ 							%tr
/ 								%th Name
/ 								%th Description
/ 								%th Due date
/ 								%th Due time
/ 								%th Edit
/ 								%th Delete
/ 						.tbody
/ 							- @tasks.each do |t|
/ 								- if t.urgency == true && t.importance == false
/ 									%tr
/ 										%td= t.name
/ 										%td= t.description
/ 										%td= t.do_by_datetime.strftime("%b %d, %Y")
/ 										%td= t.do_by_datetime.strftime("%l:%M %P")
/ 										%td= link_to "Edit", edit_task_path(t), method: :get
/ 										%td= link_to "Delete", t, remote: true, method: :delete
/ 		.col-md-6
/ 			.panel.panel-default
/ 				.panel-heading
/ 					%h3.panel-title
/ 						Not Urgent; Not Important
/ 				.panel-body
/ 					%table.table.table-bordered.table-striped.table-hover
/ 						.thead
/ 							%tr
/ 								%th Task name
/ 								%th Task description
/ 								%th Task due date
/ 								%th Task due time
/ 						.tbody
/ 							- @tasks.each do |t|
/ 								- if t.urgency == false && t.importance == false
/ 									%tr
/ 										%td= t.name
/ 										%td= t.description
/ 										%td= t.do_by_datetime.strftime("%b %d, %Y")
/ 										%td= t.do_by_datetime.strftime("%l:%M %P")
/ 										%td= link_to "Edit", edit_task_path(t), method: :get
/ 										%td= link_to "Delete", t, method: :delete

		
/ Show list of all tasks	
.container
	.row
		#tasks_list= render partial: 'tasks'

/ Add a new task
.container
	.row
		#task_form= render partial: 'form'	


	

/ / .container
/ 	.row
/ 		.col-md-3.col-md-offset-5
/ 			#add.btn.btn-primary
/ 				Add a new task

/ .new-task
/ 	.container
/ 		.row
/ 			.col-md-6
/ 				%div.panel.panel-default
/ 					#tasks-list= render partial: 'form'

/ .edit-task
/ 	.container
/ 		.row
/ 			.col-md-6
/ 				%div.panel.panel-default
/ 					= form_for @tasks.each do |t|
/ 						- if t.urgency == true && t.importance == true
/ 							= link_to "x", tasks_path, method: :get, id: 'closer'
/ 							= t.label :name
/ 							= t.text_field :name
/ 							%br
/ 							= t.label :description
/ 							= t.text_area :description
/ 							%br
/ 							= t.label :do_by_datetime
/ 							= t.datetime_select :do_by_datetime
/ 							%br
/ 							= t.label "Urgent?"
/ 							= t.select :urgency, [['Yes', true], ['No', false]]
/ 							%br
/ 							= t.label "Important?"
/ 							= t.select :importance, [['Yes', true], ['No', false]]
/ 							%br
/ 							= t.submit "Edit Task", class: "btn btn-primary"

/ %input#datetimepicker{type: "text"}