.new-task
	{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 30;
		background-color: rgba(0,0,0,0.55);
	}

.edit-task
	{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 30;
		background-color: rgba(0,0,0,0.55);
	}

.modal
	{
		background-color: blue;
	}